<div class="container">
  <div class="row">
    <div class="col-md-9 offset-md-1">
      <h5 class="mt-4 mx-5 mb-3">応募情報確認</h5>
    </div>
  </div>

  <div class="row">
    <div class="col offset-md-1">
      <table class="table table-borderless">
        <tr>
          <th>イベント名</th>
          <td><%= @event.name %></td>
        </tr>
        <tr>
          <th>会場</th>
          <td><%= @event.organizer.name %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @event.organizer.address %></td>
        </tr>
        <tr>
          <th>開催日</th>
          <td><%= @event.date.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>スケジュール</th>
          <td><%= safe_join(@event.schedule.split("\n"),tag(:br)) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 offset-md-1">
      <h5 class="mt-4 mx-5 mb-3">応募者情報確認</h5>
    </div>
  </div>

  <div class="row">
    <div class="col offset-md-1">
      <table class="table table-borderless">
        <tr>
          <th>氏名</th>
          <td><%= @participation.user.last_name %>　<%= @participation.user.first_name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td><%= @participation.user.last_name_kana %>　<%= @participation.user.first_name_kana %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @participation.user.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @participation.user.email %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <%= form_with model: @participation, url: participations_path do |f| %>
      <%= f.hidden_field :event_id, :value => @event.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "応募を確定する", class: "btn btn-success font-weight-bold px-4 my-3" %>
    <% end %>
  </div>
</div>