<tr>
  <th>イベント名</th>
  <td><%= event.name %></td>
</tr>
<tr>
  <th>主催者</th>
  <td>
    <% if admin_signed_in? %>
      <%= link_to admin_organizer_path(event.organizer.id) do %>
        <%= event.organizer.name %>
      <% end %>
    <% else %>
      <%= link_to organizer_path(event.organizer.id) do %>
        <%= event.organizer.name %>
      <% end %>
    <% end %>
  </td>
</tr>
<tr>
  <th>イベント詳細</th>
  <td><%=safe_join(event.introduction.split("\n"),tag(:br)) %></td>
</tr>
<tr>
  <th>開催日</th>
  <td><%= event.date.strftime('%Y/%m/%d') %></td>
</tr>
<tr>
  <th>場所</th>
  <td><%= event.place %></td>
</tr>
<tr>
  <th>スケジュール</th>
  <td><%=safe_join(event.schedule.split("\n"),tag(:br)) %></td>
</tr>
<tr>
  <th>募集人数</th>
  <td><%= event.number_of_people %>名</td>
</tr>
